body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar main"
        "sidebar footer";
    height: 100vh;
}

header.main-header {
    position: relative;
    grid-area: sidebar;
    background-color: #f7f6ff;
}

.logo {
}

.main-nav {
}
.nav-element {
}

.nav-link {
}

.nav-element.active {
}

.nav-element.active .nav-link {
}

.main-content {
    grid-area: main;
    background-color: #ebeef5;
}

footer {
    grid-area: footer;
    background-color: #ebeef5;
    max-height: max-content;
}
